!!! 5
%html
  %head
    %meta{ charset: 'UTF-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    %title Columbus Crew Player
    %link{ href: '/stylesheets/styles.css', rel: 'stylesheet', type: 'text/css' }
  %body
    %main.container
      %h1 Player Details
      %p
        Player id:
        %code= @id
      %a.button{ href: '/' } Back To Roster
      %section#player{ 'data-player-id': @id, 'aria-live': 'polite' }
    %script{ src: '/js/scripts.js', defer: true }
